.question-container {
  width: 100%;
  padding: 15px;
  .title {
    font-size: 25px;
    font-weight: 600;
  }
  .add-new-question {
    margin-top: 20px;
    display: flex;
    width: 100%;
    .select-quiz-content {
      border: 4px ridge #ccc;
      border-radius: 20px;
      width: 30%;
      padding: 10px 20px 10px;
    }
    .q-a-content {
      border-radius: 20px;
      border: 4px ridge #ccc;
      width: 70%;
      margin-left: 20px;
      padding: 0 40px 20px 40px;
    }
    .question-content {
      width: 100%;
      display: flex;
      gap: 20px;
      .floating-description {
        width: 54%;
      }
      .update-image {
        padding-top: 10px;
        .label-img {
          margin-top: -12px;
        }
        .previewImg {
          display: inline-block;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .label-img {
          font-size: 25px;
          color: rgb(28, 28, 139);
        }
      }
      .btn-group {
        .btn-add {
          font-size: 30px;
          color: rgb(61, 48, 235);
        }
        .btn-remove {
          margin-left: 10px;
          font-size: 30px;
          color: rgb(243, 185, 60);
        }
      }
    }
    .answer-content {
      display: flex;
      .checkBox {
        font-size: 25px;
        margin: 15px 10px 0 40px;
      }
      .floating-answer {
        width: 44%;
        margin-right: 20px;
      }
      .btn-group {
        .btn-add {
          font-size: 30px;
          color: red;
        }
        .btn-remove {
          margin-left: 10px;
          font-size: 30px;
          color: green;
        }
      }
    }
  }
}
