.countDown-container {
  .timer {
    height: 84px;
    border-bottom: 1px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
  }
  .showQuestion {
    overflow-x: hidden;
    height: 500px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 25px;
    padding-left: 45px;
    .question {
      height: 40px;
      width: 40px;
      border: 1px solid gray;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        background-color: rgb(211, 208, 208);
      }
    }
  }
}
